.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 4rem;
  /*margin-bottom: 12px;*/
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  width: 2rem;
  background: var(--color-box-footer);
  border: 1px solid var(--color-line-in-white);
  box-sizing: border-box;
  border-radius: 0.6rem;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
  background-color: var(--color-button-disable);
}

/* When the checkbox is checked, add a green background */
.custom-checkbox input:checked ~ .checkmark {
  border: 2px solid var(--color-secondary);
  background: var(--color-secondary);
}

/* Create the checkmark/indicator (hidden when not checked) */
/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;

  left: 0.5rem;
  top: 0.2rem;

  width: 0.3rem;
  height: 0.6rem;
  border: solid var(--color-title-in-primary);
  border-width: 0 2.4px 2.4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}
/* Create a custom checkbox */
